main {
  background-color: goldenrod;
  display: flexbox;
}

#calendar {
  display: grid;
  grid-template-columns: 175px 175px 175px 175px 175px 175px 175px;
  grid-template-rows: 175px 175px 175px 175px 175px 175px;
  overflow: scroll;
  justify-content: center;
  column-gap: 0px;
  row-gap: 0px;
  padding-bottom: 50px;
}

#heading {
  grid-column: 1 / 8;
  background: url("../images/oct-fall.jpg");
  background-size: cover;
  min-width: 100%;
  min-height: 200px;
  font-style: serif;
  font-size: 100px;
  text-align: center;
  color: white;
}

.grid-number {
  background-color: gray;
  padding: 20px;
  border: 1px solid;
  min-height: 100px;
}