main {
  background-color: black;
  color: white;
  padding-bottom: 20px;
}

#ent-spring-rush {
  background-size: cover; 
  background-position: center center;
  max-width: 100%;
}

main > #recruitment-video > video {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

dl.faq button {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  font-weight: bold;
  font-size: 110%;
  border: thin solid transparent;
  background-color: black;
  color: white;
}

dl dd {
  margin: 0;
  padding: 0;
  margin-left: 1.5em;
  color: white;
}

dl.faq .desc {
  margin: 0;
  padding: 0.5em;
  font-size: 110%;
  display: none;
  background-color: darkred;
}

dl.faq button:hover,
dl.faq button:focus {
  background-color: indianred;
}

dl.faq button:focus {
  border-color: red;
}

dl.faq button:active {
  background-color: red;
}

dl.faq button[aria-expanded="false"]::before {
  content: '\25BA';
  padding-right: 0.35em;
}

dl.faq button[aria-expanded="true"]::before {
  content: '\25BC';
  padding-right: 0.35em;
}
